
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 4;
    padding: 0 1em 0.33em;
    .inner {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        @media (max-width: 660px) {
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
        }
    }
    &__left,
    &__right {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        justify-content: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: center;
        -ms-flex-pack: justify;
    }
    &__right {
        @media (max-width: 900px) {
            margin-right: .66em;
        }
        @media (max-width: 660px) {
            margin-right: 0;
        }
    }
    &__logo {
        font-size: 2em;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        color: #f05638;
        text-decoration: none;
        margin-right: 4px;
        margin-left: -160px;
        transition: color 0.4s ease;
        @media (max-width: 1330px) {
            margin-left: 0;
        }
        span {
            color: #4a4a4a;
            transition: color 0.4s ease-in;
        }
        @media (max-width: 660px) {
            margin: 0;
            line-height: normal;
            padding-top: 5px;
            // font-size: 1.75em;
        }
        &:hover {
            color: #4a4a4a;

            span {
                color: #f05638;
                transition: color 0.46s ease-out;
            }
        }
    }
    .nav {
        ul {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            li {
                display: flex;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                align-items: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
            }
            a {
                font-family: "Ubuntu", sans-serif;
                font-weight: 500;
                font-size: 1.125em;
                color: #4a4a4a;
                text-decoration: none;
                padding: 1.75em 0;
                transition: all .4s;
                position: relative;
                margin-left: 2.44em;
                &::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background-color: #f4511e;
                    left: 50%;
                    top: 100%;
                    margin-top: -1.25em;
                    transition: all .4s;
                }
                &:hover {
                    color: #f4511e;
                    &::after {
                        left: 0;
                        width: 100%;
                    }
                }
                // @media screen and (min-width: 1200px) {
                //     font-size: 1em;
                // }
                // @media screen and (min-width: 1900px) {
                //     font-size: 1.75em;
                // }
                // @media screen and (min-width: 3000px) {
                //     font-size: 3.06em;
                // }
                @media (max-width: 970px) {
                    margin-left: 1.44em;
                }
            }
        }
        @media (max-width: 900px) {
            display: none;
        }
    }
    &__order-tel {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 1.125em;
        color: #f4511e;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: #f4511e;
            left: 50%;
            top: 100%;
            transition: all .4s;
        }
        &:hover::after {
            left: 0;
            width: 100%;
        }
        @media (max-width: 660px) {
            display: none;
        }
    }
    &__order-call {
        @media (max-width: 660px) {
            display: none;
        }
    }
}
