.block-slider {
  margin: 1.56em auto 0;
  font-size: 2em;

  @media (max-width: 900px) {
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    margin: 0.5em auto;
  }


  .block-slider__slide {
    font-size: 1em;
    margin: 0 auto;
    padding: 0 0.5em;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
  }
  &__reviews-block {
    padding: .78em;
    background-color: #ffffff;
    width: 9.59em;
    @media (min-width: 661px) and (max-width: 720px) {
      width: 8.5em;
      padding: .4em;
    }

  }
  &__reviews-item {
    padding: .78em;
    .review {
      font-size: .5em;
      color: #4a4a4a;
      line-height: 1.5;
      margin-bottom: .31em;
      &-bottom {
        font-weight: 700;
      }
    }
  }
  .block-profits__item {
    width: 8.59em;
    padding: 1em;
    @media (max-width: 470px) {
    }
  }
}
.block-profits {
  width: 30.94em;
  max-width: 100%;
  font-size: 2em;
  color: #4a4a4a;
  margin: 1.56em auto 0;
  position: relative;
  z-index: 1;
  @media (max-width: 960px) {
    margin: 0.5em auto;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }

  .slick3 {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
  }

  &__item {
    display: block;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1em;
    width: 9.59em;
    padding: 1.562em;
    background-color: #ffffff;
    img {
      display: block;
      margin: 0 auto .625em;
      height: 3.125em;
    }
    &:nth-child(1) img,
    &:nth-child(3) img {
      width: 3.125em;
    }
    &:nth-child(2) img {
      width: 2.28em;
    }
    // &:hover .block-profits__title,
    // &:hover .block-profits__par {
    //     color: #f4511e;
    // }
    // &:hover .block-profits__title::after {
    //     left: 0;
    //     width: 100%;
    // }
    @media (max-width: 960px) {
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: .625em;
    color: #4a4a4a;
    margin-bottom: .5em;
    position: relative;
    transition: all .4s;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 1px;
      background-color: #f4511e;
      top: 100%;
      left: 50%;
      transition: all .4s;
    }
  }
  &__par {
    font-size: .5em;
    line-height: 1.5em;
    transition: all .4s;
  }
  &__item {
    display: block;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1em;
    width: 9.59em;
    padding: 1.562em;
    background-color: #ffffff;
    img {
      display: block;
      margin: 0 auto .625em;
      height: 3.125em;
    }
    &:nth-child(1) img,
    &:nth-child(3) img {
      width: 3.125em;
    }
    &:nth-child(2) img {
      width: 2.28em;
    }
    // &:hover .block-profits__title,
    // &:hover .block-profits__par {
    //     color: #f4511e;
    // }
    // &:hover .block-profits__title::after {
    //     left: 0;
    //     width: 100%;
    // }
    @media (max-width: 660px) {
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
}
