.modal-sale {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  font-size: 1em;
  z-index: 5;
  .body-white {
      background: #fff;
      border: 2px solid #d84315;
  }
  .form_alert {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #4A4A4A;
  }
  .block-form__title {
      font-size: 2em;
  }
  &__body {
      width: 34.18em;
      max-width: 100%;
      left: 50%;
      top: 50%;
      margin-left: -17.09em;
      transform: translateY(-50%);
      padding: 1.5em 2.18em 2.5em;
      background-color: #FF8A65;
      background-size: cover;
      background-position: 50% 0%;
      font-size: 1em;
      @media (max-width: 550px) {
          width: 100%;
          left: 0;
          margin-left: 0;
          font-size: .8em;
      }
      @media (max-width: 420px) {
          font-size: .7em;
      }
      @media (max-width: 370px) {
          font-size: .6em;
      }
  }
}

.error__title {
  color: #f4511e;
  font-size: 1rem;
}

.error__image {
  margin: 10px 0;
  width: 100%;
}

.error__subtitle {
  font-size: 2rem;
}