.dropzone {
    div {
        border: none !important;
        text-decoration: underline;
        height: 40px !important;
        color: #f4511e;
        cursor: pointer;
        font-weight: 500;
    }
}
// Dropdown selector styles

.Dropdown-root {
    position: relative;
    font-size: .44em;
    height: 3.21em;
    background-color: #f5f5f5;
}
.Dropdown-control {
    position: relative;
    height: 3.20em;
    overflow: hidden;
    background-color: #f5f5f5;
    color: #666666;
    cursor: default;
    outline: none;
    padding: 14px 52px 16px 4px;
    transition: all 200ms ease;
    border: solid 0.5px #dadada;
    border-radius: 2px;
    box-sizing: border-box;
}
.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Dropdown-arrow {
    border-color: #555555 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 18px;
    width: 0
}
.is-open .Dropdown-arrow {
    border-color: transparent transparent #999999;
    border-width: 0 5px 5px;
}
.Dropdown-menu {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}
.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
}
.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}
.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333333;
}
.Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333333;
}
.Dropdown-noresults {
    box-sizing: border-box;
    color: #cccccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}