.block-form {
    font-size: 2em;
    width: 17em;
    margin: 1.56em auto 0;
    border: none;
    background-color: #ffffff;
    padding: 1.56em 2.3em;
    position: relative;
    z-index: 1;
    transition: all .4s;
    &.form-red {
        border: solid 2px #f4511e;
        .block-form__title {
            color: #f4511e;
        }
        .block-form__more-info {
            margin: 1.25em 0 2.25em;
        }
    }
    &__title {
        color: #f4511e;
        font-size: 1em;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        line-height: 1.19;
        text-align: center;
        margin-bottom: .625em;
        letter-spacing: -1px;
    }
    @media (max-width: 660px) {
        width: 100%;
        padding: 1.56em .5em;
    }
    &__item {
        height: 2.5em;
        transition: all .4s;
        &-flex {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            justify-content: space-between;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            .block-form__item {
                max-width: 48%;
            }
        }
        &__file {
            opacity: 0;
            height: 0;
        }
        &.textarea {
            height: 4.33em;
        }
    }
    & label {
        line-height: 1.33em;
        font-size: .5em;
        color: #4a4a4a;
        display: block;
        margin-bottom: .16em;
        font-family: "Ubuntu", sans-serif;
    }
    input {
        display: block;
        font-size: .44em;
        font-family: "Ubuntu", sans-serif;
        width: 100%;
        height: 3.21em;
        padding: 0 .31em;
        border-radius: 2px;
        background-color: #f5f5f5;
        border: solid 0.5px #dadada;
        &:focus {
            border: 1px solid #f4511e;
        }
    }
    textarea {
        display: block;
        font-size: .44em;
        font-family: "Ubuntu", sans-serif;
        width: 100%;
        height: 7em;
        padding: 0 .31em;
        border-radius: 2px;
        background-color: #f5f5f5;
        border: solid 0.5px #dadada;
        resize: none;
        &:focus {
            border: 1px solid #f4511e;
        }
    }
    &__more-info {
        display: block;
        text-align: center;
        font-size: .5em;
        color: #f4511e;
        margin-top: 1.2em;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    &__btn {
        font-family: "Ubuntu", sans-serif;
        font-size: .56em;
        display: block;
        margin: 1.33em auto 0;
        width: 11.38em;
        height: 2.78em;
        background-color: #f4511e;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: all .4s;
        position: relative;
        z-index: 100;
        &:hover {
            background-color: #922d0e;
        }
    }
    &__close {
        margin-left: 5px;
        color: #f4511e;
        cursor: pointer;
    }
    &__agree {
        display: block;
        text-align: center;
        font-size: 0.33em;
    }
    &__message {
        text-align: center;
        img { width: 7em; margin-left: 41px;}
        p {  font-size: 1rem; margin-bottom: 7px;}

        &.form_notification {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #4A4A4A;
            border: 2px solid #d84315;
        }
    }
}
.dropzone {
    div {
        border: none !important;
        text-decoration: underline;
        height: 40px !important;
        color: #f4511e;
        cursor: pointer;
        font-weight: 500;
    }
}
// Dropdown selector styles

.Dropdown-root {
    position: relative;
    font-size: .44em;
    height: 3.21em;
    background-color: #f5f5f5;
}
.Dropdown-control {
    position: relative;
    height: 3.20em;
    overflow: hidden;
    background-color: #f5f5f5;
    color: #666666;
    cursor: default;
    outline: none;
    padding: 14px 52px 16px 4px;
    transition: all 200ms ease;
    border: solid 0.5px #dadada;
    border-radius: 2px;
    box-sizing: border-box;
}
.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Dropdown-arrow {
    border-color: #555555 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 18px;
    width: 0
}
.is-open .Dropdown-arrow {
    border-color: transparent transparent #999999;
    border-width: 0 5px 5px;
}
.Dropdown-menu {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}
.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
}
.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}
.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333333;
}
.Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333333;
}
.Dropdown-noresults {
    box-sizing: border-box;
    color: #cccccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}