.slick{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;

        @media (max-width: 1023px) {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
    }
.block-slider__reviews-block {
        padding: .78em;
        background-color: #fff;
        width: 9.59em;
        @media (min-width: 661px) and (max-width: 720px) {
            width: 8.5em;
            padding: .4em;
        }

        // @media (min-width: 581px) and (max-width: 660px) {
        //     width: 7.6em;
        //     padding: .2em
        // }
}
.block-slider__reviews-item {
        padding: .38em;
        .review {
            font-size: .5em;
            color: #4a4a4a;
            line-height: 1.5;
            margin-bottom: .31em;
            &-bottom {
                font-weight: 700;
            }
        }
        
    }
.reviews-author {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: justify;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        img {
            font-size: 1em;
            width: 1.72em;
            height: 1.72em;
            margin-right: .31em;
        }
        .reviews-name {
            display: block;
            font-size: .59em;
            color: #191919;
            line-height: normal;
        }
        .reviews-job {
            display: block;
            font-size: .5em;
            color: #c0c0c0;
            line-height: normal;
            &.job-orange {
                color: #f4511e;
            }
        }
    }

    .block-slider__slide.review{
        padding: 32px !important;
        width: 358px !important;
        max-width: 100% !important;
        position: relative ;
        z-index:3  ;
        overflow-x: hidden;
    }

    .block-slider.review{
        max-width: 100%;
    }