.slick {
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1023px) {
    max-width: 100%;
  }
  .slick-next,
  .slick-prev {
    z-index: 2;
    @media (max-width: 370px) {
      transform: scale(3);
    }
    @media (max-width: 660px) {
      transform: scale(3.5);
    }
    @media (min-width: 661px) {
      transform: scale(4);
    }
    &:before {
      line-height: 1.2;
      color: #f05638;
      @media (max-width: 660px) {
        opacity: 1;
      }
    }
  }
  .slick-next {
    right: 5%;
  }
  .slick-prev {
    left: 5%;
  }
  @media (max-width: 660px) {
    .slick-next {
      right: 7%;
    }
    .slick-prev {
      left: 7%;
    }
  }
}