// h3 {
//   color: #fff;
//   font-size: 36px;
//   line-height: 100px;
//   margin: 10px;
//   padding: 2%;
//   position: relative;
//   text-align: center;
// }
/*
.slick-arrow {
    top: -5% !important;
    color: #f4511e !important; 
}

.slick-next{
      right: 30% !important;
}
.slick-prev{
      left: 30% !important;
}

.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {

}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
}
.slick-arrow:hover {
  background-color: grey;
}
*/

.slick {
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1023px) {
    max-width: 100%;
  }
  .slick-next,
  .slick-prev {
    z-index: 2;
    @media (max-width: 370px) {
      transform: scale(3);
    }
    @media (max-width: 660px) {
      transform: scale(3.5);
    }
    @media (min-width: 661px) {
      transform: scale(4);
    }
    &:before {
      line-height: 1.2;
      color: #f05638;
      @media (max-width: 660px) {
        opacity: 1;
      }
    }
  }
  .slick-next {
    right: 5%;
  }
  .slick-prev {
    left: 5%;
  }
  @media (max-width: 660px) {
    .slick-next {
      right: 7%;
    }
    .slick-prev {
      left: 7%;
    }
  }
}