.modal-sale {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    font-size: 1em;
    z-index: 4;
    font-family: "Ubuntu-Regular", sans-serif;
    .body-white {
        background: #fff;
        border: 2px solid #d84315;
        margin-left: -17.5em;
    }
    .form_alert {
        //min-height: 250px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #4A4A4A;
    }
    .block-form__title {
        font-size: 2em;
    }
    &.modal-sale2 {
        .modal-sale__body {
            background-image: url(~static/images/modal/1.jpg);
        }
    }
    &.modal-sale3 {
        .modal-sale__body {
            background-image: url(~static/images/modal/2.jpg);
            padding: 4.6em 2.18em 2.8em;
        }
        .modal-sale__top span.percent {
            font-size: 6.5em;
        }
    }
    &.modal-sale4 {
        font-size: 1em;
        .modal-sale__body {
            background-color: #F4511E;
        }
        .modal-sale__top {
            display: block;
            .percent {
                text-align: center;
            }
        }
        p {
            text-align: center;
        }
        form {
            display: block;
            width: 100%;
            font-size: 1em;
            input, button {
                display: block;
                margin: 0 auto;
                font-size: 1.125em;
                width: 20.88em;
            }
            input {
                margin-bottom: 1em;
            }
            button {
                background-color: #4A4A4A;
            }
        }
    }
    &__body {
        width: 34.18em;
        max-width: 100%;
        left: 50%;
        top: 50%;
        margin-left: -17.09em;
        transform: translateY(-50%);
        padding: 1.5em 2.18em 2.5em;
        background-color: #FF8A65;
        background-size: cover;
        background-position: 50% 0%;
        font-size: 1em;
        @media (max-width: 550px) {
            width: 100%;
            left: 0;
            margin-left: 0;
            font-size: .8em;
        }
        @media (max-width: 420px) {
            font-size: .7em;
        }
        @media (max-width: 370px) {
            font-size: .6em;
        }
    }
    &__top {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        margin-bottom: .4em;
        span {
            display: block;
            color: #fff;
            &.percent {
                font-size: 9em;
                margin-right: 2px;
            }
            &.top-text {
                font-size: 1.5em;
            }
        }
    }
    p {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: .5em;
    }
    form {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        font-size: 2em;
        width: 14.9em;
        @media (max-width: 545px) {
            width: 100%;
        }
        input {
            font-size: .469em;
            width: 14.73em;
            height: 3em;
            padding: 0 .67em;
            color: #4a4a4a;
            border: none;
            &:focus {
                border: 1px solid #f4511e;
            }
        }
        button {
            font-size: .56em;
            width: 12.28em;
            height: 2.78em;
            color: #fff;
            border: none;
            background-color: #f4511e;
            cursor: pointer;
            transition: all .4s;
            &:hover {
                background-color: #922d0e;
            }
        }
    }
}
