.close__modal{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    background:#f4511e;
    color: #fff;
    cursor: pointer;
    &:hover{
        background: #922d0e;
    }
}


.modal__order-call,
.modal__estimate {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 5;

    font-family: "Ubuntu", sans-serif;
    overflow-y: scroll;
    .block-form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8.5em;
        margin-top: 0;
        transform: translateY(-50%);
        @media (max-width: 660px) {
            margin-left: 0;
            left: 0;
        }
    }
}

.modal__estimate {
    .block-form {
        top: 10%;
        transform: translateY(0);
    }
    .modal-estimate__close {
        width: .78em;
        height: .78em;
        position: absolute;
        top: 1em;
        right: .8em;
        cursor: pointer;
        .line {
            width: 100%;
            height: 3px;
            background-color: #4a4a4a;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1.5px;
            transform: rotate(44deg);
            &:last-child {
                transform: rotate(-44deg);
            }
        }
    }
}
