.footer {
    font-size: 2em;
    padding: 1.56em 0 .625em;
    background-color: #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 1;
    font-family: "Ubuntu", sans-serif;
    .inner {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-around;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
        @media (max-width: 660px) {
            display: block;
        }
    } 
    &__logo {
        width: 4.22em;
        margin-right: .5em;
        img {
            width: 100%;
        }
        @media (max-width: 660px) {
            width: 2.22em;
            height: 2.22em;
            margin: 0 auto .5em;
        }
    }
    &__center {
        width: 21.75em;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        margin-right: 10%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        @media (max-width: 660px) {
            width: 100%;
            margin-bottom: .5em;
        }
    }
    .nav {
        width: 100%;
        ul {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            justify-content: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            align-items: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            @media (max-width: 660px) {
                justify-content: space-around;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-around;
                -ms-flex-pack: justify;
            }
        }
        li {
            margin: 0 auto;
            font-size: .438em;
            @media (max-width: 480px) {
                font-size: .3em;
            }
        }
        a {
            color: #4a4a4a;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 1px;
                background-color: #4a4a4a;
                left: 50%;
                top: 100%;
                transition: all .4s;   
            }
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }
    &__socials {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        font-size: .44em;
        @media (max-width: 660px) {
            justify-content: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: center;
            -ms-flex-pack: justify;
            margin-bottom: 1em;
        }
        a {
            text-decoration: none;
            color: #303234;
            margin-left: 1.79em;
            transition: all .4s;
            &:hover {
                color: #55acee;
            }
        }
    }
    .copyright {
        font-size: .375em;
        color: #9b9b9b;
        text-align: center;
        line-height: normal;
        margin-top: -11px;
        span {
            display: block;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        @media (max-width: 660px) {
            margin-top: 0;
        }
    }
}
