.block-form-timer {
    font-size: 2em;
    width: 30.94em;
    max-width: 100%;
    margin: 1.56em auto 0;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: right top;
    padding: 3.56em 2.688em 3.25em;
    color: #ffffff;
    @media (max-width: 900px) {
        width: 100%;
        background-position-x: 85%;
    }
    @media (max-width: 660px) {
        font-size: 1.375em;
        padding: 1em 0.75em 1.56em;
        background-position-x: 72%;
    }
    &__title {
        font-size: 1em;
        margin-bottom: .56em;
    }
    &__h2 {
        font-size: 1em;
        margin-bottom: .56em;
    }
    &__message {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        font-size: 1em;
        width: 14.9em;
        margin-bottom: .875em;
        @media (max-width: 660px) {
            display: block;
        }
    }

    &__timer {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        font-size: 1em;
        width: 14.9em;
        margin-bottom: .875em;
        @media (max-width: 660px) {
            display: block;
        }
        .timer {
            @media (max-width: 660px) {
                display: inline-block;
            }
        }
        p {
            font-size: .688em;
            line-height: normal;
            // width: 11.62em;
            width: 100%;
        }
    }

    form {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        font-size: 1em;
        width: 14.9em;

        @media (max-width: 660px) {
            flex-direction: column;
        }
        input {
            font-size: 1rem;
            width: 14rem;
            height: 3rem;
            padding: 0 .67em;
            color: #4a4a4a;
            border: none;
            margin-right: 3em;
            &:focus {
                border: 1px solid #f4511e;
            }
            @media (max-width: 660px) {
                padding: 0 .33em;
                font-size: 0.75em;
                width: 12rem;
                margin-bottom: 1em;
            }
        }
        button {
            font-size: 1rem;
            width: 14rem;
            height: 3rem;
            color: #ffffff;
            border: none;
            background-color: #f4511e;
            cursor: pointer;
            transition: all .4s;
            &:hover {
                background-color: #922d0e;
            }
            @media (max-width: 660px) {
                font-size: .75em;
                width: 12rem;
            }
        }
    }
}