.header {
  &__hamburger {
    width: 3em;
    height: 3em;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    margin: 0.5em 2em 0;
    @media (min-width: 1331px) {
      margin: .66em -5em 0 2em;
    }
    @media (max-width: 1330px) {
      position: relative;
    }
    @media (max-width: 900px) {
      display: block;
      margin: 0.5em 1em 0;
    }
    @media (max-width: 660px) {
      position: absolute;
      right: 1em;
      top: 0.15em;
    }
    @media (max-width: 350px) {
      position: absolute;
      right: 0;
    }

    @media (max-width: 660px) {
      &-mobile { display: block; }
      &-desktop { display: none; }
    }
    @media (min-width: 661px) {
      &-mobile { display: none; }
      &-desktop { display: block; }
    }
    & span {
      display: block;
      position: absolute;
      height: 0.5rem;
      width: 100%;
      background: #f4511e;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 1rem;
      }
      &:nth-child(4) {
        top: 2rem;
      }
    }
    &.open span {
      &:nth-child(1) {
        top: 1rem;
        width: 0;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 1rem;
        width: 0;
        left: 50%;
      }
    }
  }
}