.menu-desk {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  top: -200%;
  left: 0;
  z-index: 3;
  padding: 3.25em 0 5.125em;
  transition: all .5s;
  &.open {
    top: 3em;
  }
  .inner {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
  &__item {
    border-right: 0.0625em solid #cfd8dc;
    margin-right: 1em;
    padding-right: 1em;
    &:last-child {
      border-right: none;
      margin-right: 0;
      .menu-desk__lists .menu-desk__list {
        width: 50%;
        &:first-child {
          padding-right: 0.75em;
        }
      }
    }
  }

  &__lists {
    margin-bottom: 2.125em;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    font-size: 1rem;
    width: 100%;
    min-width: 14rem;
    padding-right: 10px;
    &--item {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #4a4a4a;
        text-decoration: none;
        &:hover {
          color: #d84315;
          text-decoration: underline;
        }
      }
      &-header {
        display: none;
        font-size: 120%;
        a {
          margin-left: 0;
          color: #f4511e;
        }
      }
      &-subheader {
        font-size: 110%;
        a { margin-left: 0; color: #f4511e; }
      }
    }

  }
}
