.timer {
    margin: .10em 0;
    margin-right: 0.33em;
    align-items: center;
    color: #ffffff;
    @media (max-width: 900px) {
        font-size: 1.2em;
    }
    @media (max-width: 660px) {
        font-size: 1em;
    }
}

